/* Empty. Add your own CSS if you like */
.pearl{
	background:#fff;
}

.scroll {
  height: 100%;
}
.bottomMZero{
	margin-bottom: 0;
}
.mapWrap{
	margin:0;
    height: 30%;
    width:100%;
    overflow: none;
}
map {
  width: 100%;
  height: 150%  !important;
}
.imgWrap{
    height: 20%;
    width:100%;
}
.imgWrap img{
	 height:30%;
}
.complain{
	height:100px;
}
.button-camera{
	height: 20%;
}
.bar.alert{
	height:20%;	
}
.bar-jpj{
    background: #ff1000;
    color:#fff;

}
.jpj, .jpj:hover, .jpj:active, .jpj:link, .jpj:visited{
    color: #ff1000;
}
.icon-jpj{
     color:#ff1000;

}
.title-jpj{
    color:#ff1000;
    font-size: 200%;
    font-weight: bold;
}
/* To Center the button */
.button.center,.item.center{
	  margin: auto !important; 
}
.center{
	margin: auto !important; 
}
.grey{
	background-color:#eee;
}

.button.round{
	width:10em;
	height:10em;
	border-radius: 10em; 
}

.button.icon-white,.icon.icon-white{
	color:#fff;
}

.title{
	color:#fff;
}
.padded{
	padding: 5% 5% 5% 5%;
}