<ion-view view-title="Capture Car Plate No">



    <ion-nav-bar class="bar-jpj">

        <ion-nav-back-button type="button" class="button-icon button-clear icon-white ion-ios-arrow-back">
        </ion-nav-back-button>

        <ion-nav-buttons side="right">


            <button type="button" ng-click="submitPlate()" class="button button-icon button-clear ion-ios-arrow-forward icon-white">
            </button>

        </ion-nav-buttons>


    </ion-nav-bar>
    <ion-content>


        <div class="list bottomMZero">
            <label ng-click="scanId()" class="item item-input">

                <img class="complain center" ng-src="{{imgURI}}">


            </label>



        </div>



    </ion-content>

</ion-view>
