<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Change Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="changePassword()">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Old</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">New</span>
          <input type="password" ng-model="loginData.newpassword">
        </label>
         <label class="item item-input">
          <span class="input-label">Confirm</span>
          <input type="password" ng-model="loginData.confirmpassword">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Change</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
