
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-jpj">
  
     <ion-nav-back-button class="button-icon button-clear icon-white ion-ios-arrow-back">
     </ion-nav-back-button>


      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon icon-white" menu-toggle="left">
        </button>
      </ion-nav-buttons>


    
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-jpj">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="">
      <ion-list>

        <ion-item nav-clear menu-close href="#/app/offences" class="item item-icon-right">
             <i class="icon ion-eye icon-jpj"></i> Complaint
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profile" class="item item-icon-right">
            <i class="icon  ion-person icon-jpj"></i> My Account 
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about" class="item item-icon-right">
           <i class="icon ion-information-circled icon-jpj"></i> About Us
        </ion-item>

     <ion-item nav-clear menu-close ng-click="logout()" class="item item-icon-right">
           <i class="icon ion-log-out icon-jpj"></i> Log Out
        </ion-item>
      

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
