<ion-view view-title="Complaint">


    <form ng-submit="$root.alertNoFunction()">

        <ion-nav-bar class="bar-jpj">

            <ion-nav-back-button type="button" class="button-icon button-clear icon-white ion-ios-arrow-back">
            </ion-nav-back-button>

            <ion-nav-buttons side="right">


                <button class="button button-icon button-clear ion-checkmark icon-white">
                </button>

            </ion-nav-butt
            ons>


        </ion-nav-bar>
        <ion-content>
       

            <div class="list bottomMZero">
                <label class="item item-input grey">
                    My Contact

                </label>
                <label class="item item-input center">
                    <input type="text" disabled="" placeholder="Contact Name" value="{{data.contact}}">
                </label>
                <label class="item item-input center">
                    <input type="text" disabled="" placeholder="Email Address" value="{{data.email}}">
                </label>
                <label class="item item-input center">
                    <input type="text" disabled="" placeholder="Mobile No" value="{{data.mobileno}}">
                </label>

                <label class="item item-input grey">
                    Take a Wide Angle Photo

                </label>
                <label ng-click="takePicture()" class="item item-input">
                    <img class="complain center" ng-src="{{imgURI}}">
                </label>
                <label class="item item-input grey">
                   Scan the Car Plate No
                </label>
                <label ng-click="scanPlate()"  class="item item-input center item-icon-right">
                    <input type="text" placeholder="Car Plate No" disabled="" value="{{plateId}}">
                        <i class="icon ion-camera icon-jpj"></i>
                </label>
                <label class="item item-input grey">
                     Offence Description
                </label>
                <label class="item item-input center">
                    <input type="text" placeholder="Offence" disabled="" value="{{selected}}">
                </label>
                <label class="item item-input grey">
                    Location of Complaint
                </label>

                <label class="item item-input">
                    <input type="text" disabled="" placeholder="Address" value="{{address}}">
                </label>

            </div>        

            <div class="mapWrap" scroll="false" data-tap-disabled="true">
                 <map  center="{{position.lat}},{{position.lng}}" scrollwheel="false" zoom="70" disable-default-u-i="true" disable-double-click-zoom="true" draggable="false" draggable-cursor="help" dragging-cursor="help" keyboard-shortcuts="false" map-type-id="TERRAIN">
                    <!-- ngRepeat: pos in positions -->
                    <!-- <marker ng-repeat=" pos in positions" position="{{pos.lat}},{{pos.lng}} "></marker>-->
                    
                </map>
            </div>
        </ion-content>
    </form>
</ion-view>
