<ion-view view-title="iSaman">
  <ion-content>
   

    <ion-list>

            <label class="item item-input grey">
                <label>Select a Violation to Complaint</label>
            </label>

      <!-- Replace href="#/app/offences/{{offence.id}}" with ng-click -->
      <ion-item ng-repeat="offence in offences"  href="#/app/offences/{{offence.id}}"  class="item item-icon-left item-icon-right">
       <i class="icon ion-model-s icon-jpj"></i>
          {{offence.title}} 
          <i class="icon ion-camera icon-jpj"></i>
      </ion-item>
    </ion-list>

  <!-- <div class="bar bar-footer alert">
     <button ng-click="showAlert" class="button button-assertive round center">
         Road Bully Alert!
        
   </button> -->

  </div>
  </ion-content>

</ion-view>
