<ion-view>
    <form ng-submit="alertNoFunction()">

        <ion-nav-bar class="bar-jpj">

            <ion-nav-buttons side="left">
                <button type="button" class="button button-icon button-clear ion-navicon icon-white" menu-toggle="left">
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">


                <button class="button button-icon button-clear ion-checkmark icon-white">
                </button>

            </ion-nav-buttons>

            <ion-content>


                <div class="list padded">

                    <label class="item item-input center">
                        <span class="input-label">Name</span>
                        <input type="text" placeholder="Full Name" ng-model="profileData.name" value="{{profileData.name}}">
                    </label>
                    <label class="item item-input grey">
                        Contacts - Changes require Verification
                    </label>
                    <label class="item item-input center">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="Email Address">
                    </label>

                    <label class="item item-input center">
                        <span class="input-label">Phone</span>
                        <input type="text" placeholder="Phone No">
                    </label>
                    <label class="item">
              
                        <button type="button" ng-click="changepw()" class="button button-block button-assertive ">
                            Change Password
                            <i class="icon ion-password icon-white"></i>
                        </button>
                    </label>

                </div>

                <div>


                </div>

            </ion-content>
    </form>
</ion-view>
