
 
<ion-view>
    <ion-content>

      <form ng-submit="">
        <div class="list padded">
  
            <label class="item item-input center">
                <input ng-model="regData.email" type="text" placeholder="Email Address">
            </label>
            <label  class="item item-input center">
                <input ng-model="regData.pw"  type="text" placeholder="Password">
            </label>
            <label class="item item-input center">
                <input ng-model="regData.pwc"  type="password" placeholder="Confirm Password">
            </label>

            <label class="center">
                <button class="button button-block button-assertive">Sign Up</button>

            </label>
       </div>
    </form>

   <div class="padded">
         <a class="jpj" href="#/welcome">Already have an account?</a>
    </div>
    </ion-content>
</ion-view>