<ion-view >
  <ion-content>

    <div class="padded">
        <div class="center">
          <label class="title-jpj">iSaman 
        </div>
    </div>

    <form ng-submit="doLogin(true)">
      <div class="list padded">
        <label class="item item-input">
          
          <input type="text" ng-model="loginData.username" placeholder="Email Address">
        </label>
        <label class="item item-input">
        
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="">
          <button class="button button-block button-assertive bar-jpj" type="submit">Log in</button>
        </label>
        <label class="">

      
           
       </label>

      </div>

    </form>
    <div class="padded">
           <a nav-clear class="jpj" href="#/registration">
                    No account yet? Sign Up here
          </a>
    </div>

  </ion-content>
</ion-view>